:root {
  --bg: #181818;        
  --red: #ff2a2a;       
  --purple: #a044ff;      
  --grey: #616a71;
  --text: #eaeaea;        /*main text colour*/
  --transition: 0.4s ease; 
}


body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 50px; 
}


header {
  position: fixed;      
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, var(--red), var(--purple));
  padding: 0.4rem 1rem;    
  box-sizing: border-box;
  z-index: 1000;        
}

/* inside header */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* title */
.header-title h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1.3px; 
  margin: 0;
  margin-bottom: 0.2rem;
  margin-left: 2rem;
}

/* subtitle */
.header-title .subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  color: var(--text);
  margin-left: 2rem;
  letter-spacing: 1px; 
}

/* highlight purple */
.highlight {
  color: var(--purple);
}

/* Links on top-right */
.nav-links a {
  margin-left: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text);
  position: relative;
  transition: color var(--transition);
  text-shadow: 0 0 15px var(--red); 
  margin-right: 1.6rem;
}

/* highlight links*/
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, var(--red), var(--purple));
  box-shadow: 0 0 15px var(--red);
  opacity: 0;
  transform: scaleX(0);
  transition: transform var(--transition), opacity var(--transition);
  border-radius: 4px;
}

.nav-links a:hover {
  color: var(--red);
  text-shadow: 0 0 15px var(--red); /**/
}

.nav-links a:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

/* main */
main {
  padding-top: 6rem;      
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

/*  intro */
.intro h2 {
  font-size: 3rem;
  color: var(--red);
  margin-bottom: 1rem;
}

.intro h3 {
  font-size: 1.1rem;
  color: var(--grey); 
  margin-bottom: 1rem;
}

.intro p {
  text-align: left;
  font-size: 1.2rem;
  color: var(--purple);
  font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.projects {
  margin-top: 4rem;
  display: flex;
  justify-content: center; 
  gap: 2rem;
  flex-wrap: wrap;            
  align-items: center;
  padding-left: 2rem; 
}

/* purple subtitle*/
.projects pur {
  text-align: left;
  flex: 1;
  max-width: 500px;
  font-size: 1.7rem;
  color: var(--purple);
  font-weight: bold;
  font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  padding-left: 1rem;
padding-right: 2rem;
}

    
/* main text */
.projects p {
  color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  margin: 0;
  flex-basis: 100%;
  text-align: left;

  padding-left: 1rem;
padding-right: 2rem;
}

/* picture */
.projects img {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform var(--transition), box-shadow var(--transition);
}

/* games pictures */
.projects .img_game {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 0 40px var(--red);
  transition: transform var(--transition), box-shadow var(--transition);
  display: block;
}
.projects .img_game:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px var(--purple);
}

.pdf-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--red);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pdf-button:hover {
  background-color: var(--purple);
}

.button-wrapper { /*нужно чтобы сделать кнопки-ссылки посередине*/
  text-align: center;
  margin-top: 2rem; 
}

.text-block {
  text-align: left;
  color: var(--purple);
  flex: 1;                       
  max-width: 600px;             
  font-size: 1.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.purple-link {
  color: var(--purple);
  text-decoration: underline;
}

.purple-link:hover {
  text-shadow: 0 0 15px var(--purple);
}

/*games*/
    .game-section {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 4rem;
      gap: 10rem;
      flex-wrap: wrap;
    }

    .game-text {
      flex: 1;
      max-width: 500px;
      text-align: left;
      padding-left: 2rem;
      margin-left: 5rem;
    }

.game-text p{ /* main text */
  font-size: 1.1rem;
      flex: 1;
      max-width: 500px;
      text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;

  padding-left: 1rem;
padding-right: 2rem;
    }
.game-text pur{ /* purple subtitle */
  font-size: 1.7rem;
      flex: 1;
      max-width: 500px;
      text-align: left;
  font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--purple);
  font-weight: bold;
  margin: 0;

  padding-left: 1rem;
padding-right: 2rem;
    }

    .game-media {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      margin-right: 3rem;
    }

    .game-video {
      border-radius: 12px;
      box-shadow: 0 0 35px var(--red);
      transition: transform var(--transition), box-shadow var(--transition);
    }

    .game-video:hover {
      transform: scale(1.05);
      box-shadow: 0 0 25px var(--purple);
    }

/*Art*/
details {
  background-color: #1a1a1a;
  color: var(--purple);
  border: 1px solid var(--purple);
  box-shadow: 0 0 10px var(--purple);
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}



details[open] {
  background-color: #2a2a2a;
}

summary {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.code-block {
  background-color: var(--bg)
  color: var(--text);
  padding: 1rem;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.95rem;
  max-width: 700px;    
  max-height: 700px;        

  margin-left: 0;
  
  overflow: auto;          

  white-space: pre;
  box-shadow: 0 0 25px var(--red);
  text-align: left;
  
  padding: 0;

  transition: transform var(--transition), box-shadow var(--transition);
}

.code-block pre,
.code-block code {
  margin: 0;
  border: none;
  background: none;
  line-height: 1.4;

  padding-left: 1rem;
padding-right: 2rem;
}


.code-block:hover {
  /*transform: scale(1.05);*/
  box-shadow: 0 0 25px var(--purple);
}

/* github icon */
.github-icon {
  text-decoration: none;
  display: inline-block;
  color: var(--red); 
  transition: color 0.3s ease, transform 0.3s ease;
  margin-left: 1rem; 
}

.github-icon i {
  font-size: 2rem; 
}

.github-icon:hover {
  color: var(--purple);
  transform: scale(1.1);
}

/*contact form*/
.contact-form {
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #1a1a1a;
  /*border: 1px solid var(--purple);*/
  border-radius: 12px;
  box-shadow: 0 0 30px var(--red);
  transition: box-shadow var(--transition), transform var(--transition);
}

.contact-form:hover {
  box-shadow: 0 0 30px var(--purple);
  transform: scale(1.02);
}

.contact-form h2 {
  font-size: 2rem;
  color: var(--purple);
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-form label {
  display: block;
  font-size: 1rem;
  color: var(--text);
  margin-bottom: 0.5rem;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #2a2a2a;
  color: var(--text);
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: inset 0 0 5px var(--grey);
  transition: box-shadow var(--transition), background-color var(--transition);
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  background-color: #333;
  box-shadow: 0 0 10px var(--purple);
}

.contact-form button {
  /*background: linear-gradient(90deg, var(--red), var(--purple));*/
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Orbitron', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /*box-shadow: 0 0 15px var(--red);*/
  /*transition: background-color var(--transition), box-shadow var(--transition), transform var(--transition);*/
  background: var(--red);
}

.contact-form button:hover {
  background: var(--purple);
  /*background: linear-gradient(90deg, var(--purple), var(--red));
  box-shadow: 0 0 15px var(--purple);*/
  /*transform: scale(1.05);*/
}



